<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">

        <table>
            <form action="/dashboard" method="post">
                <tr>
                    <td>
                        <div>username : <input id="username" class="username" type="text"></div>
                        <div>password : <input id="password" class="password" type="text"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="btn_create"> Create new User, <input type="button" value="submit"></div>
                    </td>
                </tr>
            </form>
        </table>
        <table class="table_admin">
            <tr>
                <td class="border_table">Id</td>
                <td class="border_table">Username</td>
                <td class="border_table" colspan="2">Action</td>
            </tr>
            <% users.forEach(function(user) { %>
                <tr>
                    <td class="border_table">
                        <%= user.id %>
                    </td>
                    <td class="border_table">
                        <%= user.username %>
                    </td>
                    <td class="border_table"><button>Update</button></td>
                    <td class="border_table"><button>Delete</button></td>
                </tr>
                <% }); %>

        </table>
    </div>
  
</body>

</html>